* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main{
    width: 30%;
    height: 70%;
    border-radius: 25px;
    background-color: white;
}

#main img{
    position: relative;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

#order_summary{
    position: relative;
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 10%;
    font-size: 1.5rem;
    font-weight: bolder;
    color: hsl(223, 47%, 23%)
}

#paragraph{
    position: relative;
    margin-left: 5%;
    margin-top: 10%;
    text-align: center;
    color: gray;
}

#annualbox{
    width: 90%;
    margin: auto;
    background-color: hsl(225, 100%, 99%);
    border-radius: 10px;
    margin-top: 5%
    
}

#annualbox img{
    width: 15%;
    margin-top: 10%;
}

#subhead p{
    margin-top: -15%;
    margin-left: 20%;
    font-weight: bold;
}

#price p{
    margin-left: 20%;
    padding-top: 4%;
    color: gray;
}

#link p{
    width: 20%;
    height: 10%;
    position: relative;
    margin-left: 75%;
    margin-top: -15%;
    padding-bottom: 10%;
    font-weight: bold;
    color: purple;
    text-decoration: underline;

}

#payment{
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
    height: 10%;
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 0px 20px hsl(224, 23%, 95%);
}

#payment p{
    margin-left: 25%;
    padding-top: 5%;
    font-weight: bold;
    color: white;
}

#cancel p{
    position: relative;
    margin-top: 10%;
    margin-left: 35%;
    color: gray;
    font-weight: bold;
}
